.StringDB {
    padding: 0px 0;
    text-align: start;
    background-color: #282C34;
    color: #fff;
    display: block;
    max-width: 1280px;
    margin: auto;
}

table {
    border-collapse: collapse;
}
